{% extends "base.html" %}

{% block title %}Envirobase - Sites{% endblock %}

{% block page_content %}
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Address</th>
			<th scope="col">City</th>
			<th scope="col">State</th>
			<th scope="col">Zipcode</th>
			<th scope="col">Longitude, Latitude</th>
		</tr>
	</thead>
	<tbody>
    {% for site in sites['features'] %}
	<tr>
		<td>{{ site['properties']['site_name'] }}</td>
		<td>{{ site['properties']['address'] }}</td>
		<td>{{ site['properties']['city'] }}</td>
		<td>{{ site['properties']['state'] }}</td>
		<td>{{ site['properties']['zipcode'] }}</td>
		<td>{{ site['geometry']['coordinates'] }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
