{% extends "base.html" %}

{% block title %}Envirobase - Facilites{% endblock %}

{% block page_content %}
<table class="table">
	<thead class="thead-dark">
		<tr>
		    <th scope="col">ID</th>
			<th scope="col">Name</th>
			<th scope="col">Address</th>
			<th scope="col">City</th>
			<th scope="col">State</th>
			<th scope="col">Zipcode</th>
			<th scope="col">Longitude</th>
			<th scope="col">Latitude</th>
			<th scope="col">Created On</th>
			<th scope="col">Last Updated</th>
		</tr>
	</thead>
	<tbody>
    {% for facility in facilites %}
	<tr>
	    <td>{{ facility.facility_id }}</td>
		<td>{{ facility.name }}</td>
		<td>{{ facility.address }}</td>
		<td>{{ facility.city }}</td>
		<td>{{ facility.state }}</td>
		<td>{{ facility.zipcode }}</td>
		<td>{{ facility.longitude }}</td>
		<td>{{ facility.latitude }}</td>
		<td>{{ facility.created_on }}</td>
		<td>{{ facility.updated_on }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
