{% extends "base.html" %}

{% block title %}Envirobase - Sample Ids{% endblock %}

{% block page_content %}
<table class="table">
	<thead class="thead-dark">
		<tr>
            <th scope="col">Facility</th>
			<th scope="col">Sample ID</th>
			<th scope="col">Sample Type</th>
		</tr>
	</thead>
	<tbody>
    {% for location in sample_locations %}
	<tr>
        <td>{{ location.facility.name }}</td>
		<td>{{ location.sample_id }}</td>
		<td>{{ location.sample_type }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
