{% extends "base.html" %}

{% block title %}Envirobase - Sample Locations{% endblock %}

{% block page_content %}
<table class="table">
	<thead class="thead-dark">
		<tr>
            <th scope="col">Site</th>
			<th scope="col">Sample Location</th>
			<th scope="col">Location Type</th>
		</tr>
	</thead>
	<tbody>
    {% for location in sample_locations %}
	<tr>
        <td>{{ location.site.site_name }}</td>
		<td>{{ location.location_id }}</td>
		<td>{{ location.location_type }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
