{% extends "base.html" %}

{% block title %}Envirobase - Sites{% endblock %}

{% block page_content %}
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Address</th>
			<th scope="col">City</th>
			<th scope="col">State</th>
			<th scope="col">Zipcode</th>
			<th scope="col">Longitude, Latitude</th>
		</tr>
	</thead>
	<tbody>
    {% for site in sites %}
	<tr>
		<td>{{ site.site_name }}</td>
		<td>{{ site.address }}</td>
		<td>{{ site.city }}</td>
		<td>{{ site.state }}</td>
		<td>{{ site.zipcode }}</td>
		<td>{{ site.site_geom }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
