{% extends "base.html" %}

{% block title %}Envirobase - Units{% endblock %}

{% block page_content %}
<table class="table">
	<thead class="thead-dark">
		<tr>
		    <th scope="col">ID</th>
			<th scope="col">Site</th>
			<th scope="col">Unit</th>
			<th scope="col">Created On</th>
			<th scope="col">Last Updated</th>
		</tr>
	</thead>
	<tbody>
    {% for unit in units %}
	<tr>
	    <td>{{ unit.unit_id }}</td>
		<td>{{ unit.site.site_name }}</td>
		<td>{{ unit.unit_name }}</td>
		<td>{{ unit.created_on }}</td>
		<td>{{ unit.updated_on }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
